html{
	font-family: 'Lato', sans-serif;	
}
#top{
	background-color: #f3f3f3;
	width: 900px;
	position: absolute ;
	top: 5%;
	left:50%;
	transform: translate(-50%, 5%);	
	padding: 5% 10%;
}


.clear {
	clear: both;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 20px;	
}

#name {
	float: left;
}
#name h1{
	font-size: 35px;
	margin-bottom: 1px;
}
#name h2{
	font-size: 30px;
	margin-top: 0px;
}

#contactDetails {
	float: right;
	color: #181818;
}
a {
	color: #181818;
	text-decoration: none;
}
.sectionTitle {
	float: left;
	width: 25%;
	display: block;
	padding: 0px;
	margin: 0px;
	text-align: right;
}

.sectionContent {
	float: right;
	width: 72.5%;
		
}

.mainDetails{
	border-left: 0px;
	border-width: 0px;	
	border-bottom: 2px;
	border-top: 0px;
	border-color: #cf8a05;
	border-style: solid;
}
img{
    border-radius: 50%;
}

h2{
	font-family: 'Arial', sans-serif;
	font-size: 20px;
	color: #444444;	
}
h1{
	font-size: 25px;
	font-family: 'Arial', sans-serif;
}
ul{
	list-style: none;
}
.subDetails{
	line-height: 0px;
	font-style: italic;
	font-weight: 350;
	font-size: 17px;
	color: #181818;
}
section{

	border-left: 0px;
	border-width: 0px;	
	border-bottom: 1px;
	border-top: 0px;
	border-color: #dedede;
	border-style: solid;
	
}
p{
	font-size: 20px;
}
.sectionTitle{
	color: #cf8a05;
	font-style: italic;
}
.keySkills li{
	
	display: center;
	margin: 3px;
	font-size: 20px;
}
.keySkills{
	column-count: 3;
}
